<div class="container">

    <div class="jumbotron">
        <h1>Order Burger Here</h1>
        <p>Eat in , Take out</p>
        <br>
        <h2>Make your Burger</h2>
        <panel>
            <form class="create-form">
                <div class="form-group">
                    <label for="newburger">Order Fresh Burger</label>
                    <input type="text" id="newburger" name="burger">
                    <button type="submit" class="btn btn-success" id="#newburger">
                        <span class="fa fa-thumbs-up">Submit</span>

                    </button>

                </div>

            </form>
        </panel>

        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading" id="leftside"><strong>Order Your burger</strong> </div>
                    <div class="panel-body">
                        <ul>

                            {{#each burger}}
                            {{#unless devoured}}

                            <span><strong>{{this.id}} - {{this.burger_name}}</strong></span>
                            <button type="button" class="eatburger btn btn-warning" id="eatbutton" data-id="{{this.id}}"
                                data-newDevoured="{{devour}}"><span class="fa fa-usd"></span></button>
                            <hr>
                            {{/unless}}
                            {{/each}}



                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading" id="rightside"><strong>Devour the Burger</strong></div>
                    <div class="panel-body">
                        <ul>

                            {{#each burger}}
                            {{#if devoured}}

                            <span><strong>{{this.id}} - {{this.burger_name}}</strong></span>
                            <button type="button" class="trashburger btn btn-warning" id="trashbutton"
                                data-id="{{this.id}}" data-newDevoured="{{devour}}"><span
                                    class="fa fa-usd"></span></button>
                            <hr>

                            {{/if}}
                            {{/each}}



                        </ul>
                        <h1>add content here</h1>

                    </div>



                </div>



            </div>

        </div>

    </div>




</div>
<script src="https://code.jquery.com/jquery.js"></script>

    <script>
        $(document).ready(function() {

    // Creates a new burger on the screen!

    $(".create-form").on("submit", function(event) {
      // Make sure to preventDefault on a submit event.
      event.preventDefault();
  
      var newBurger = {
        
        burger_name: $("#newburger").val().trim(),
        devoured: 0
      };
  
      // Send the POST request.
      $.ajax("/api/burgers", {
        type: "POST",
        data: newBurger
      }).then(function() {
          console.log("created new burger");
          // Reload the page to get the updated list
          location.reload();
        });
    });
  

// Eats a burger
    $(".eatburger").on("click", function(event) {

      event.preventDefault();

      var id = $(this).data("id");
     
      var devouredState = {
        devoured: 1
      };
  
      // Send the PUT request.
      $.ajax("/api/burgers/" + id, {
        type: "PUT",
        data: devouredState
      }).then(
        function() {
            console.log("deleted burger", id);
            // Reload the page to get the updated list
            location.reload();
        //   console.log("changed hungry to", newhunger);
          // Reload the page to get the updated list
          
        }
      );
    });



    // Deletes burger
    $(".trashburger").on("click", function(event) {

      event,preventDefault();

      var id = $(this).data("id");
  
      // Send the DELETE request.
      $.ajax("/api/burgers/" + id, {
        type: "DELETE",
        url: "/api/burgers/" + id
      }).then(location.reload());
          // Reload the page to get the updated list
        
      
    });

  });
  
 </script>